

@mixin wrapper{
  position: fixed;
  right:0;
  top:0;
  z-index: 10000000;
  width:300px;
  bottom:0;
  padding: 50px 10px 50px 10px;
  background: #FFFFFF;
  font-family: "Microsoft YaHei UI";
  border-left:4px solid #CCCCCC;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s ;
  -ms-transition: all 0.5s ;
  -o-transition: all 0.5s ;
  transition: all 0.5s ;
}


@mixin  controllerButton{
  padding: 8px 20px;
  border:1px solid #CCCCCC;
  border-radius: 3px;
  background: #FFFFFF;
  margin-right: 10px;
}

@mixin controllerButtonActive{
  background: #5599ff;
  color: #FFFFFF;

}


@mixin aLink{
  background: #5599ff;
  color: #FFFFFF;
  padding: 5px 20px;
  border-radius: 3px;
}
.scrapy-weibo{
  h1{
    font-size: 1.5em;
    text-align: center;
    padding: 5px 0;
    color:#000000;
  }
  @include  wrapper;
  .none{
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .create-user{
    margin-top: 15px;
    a{
      @include  aLink;
    }
  }

  .create-weibo{
    margin-top:15px;
      button{
        background: #FFFFFF;
        border:1px solid #CCCCCC;
        padding: 5px 10px;
        border-radius: 3px;
        &:hover{
          color: #FFFFFF;
          background: #5599ff;
        }
      }

  }

  &.showItem{
    right:-240px;
  }
    button,a,p,li,div{
      font-family: inherit;
    }
    .hide{
      margin-top: 15px;
      button{
        background: #5599ff;
        padding: 5px 10px;
        border:none;
        border-radius: 3px;
        color: #FFFFFF;
        &:hover{
          cursor: pointer;
        }
      }
    }
    h3{
      margin-top: 15px;
      font-size: 1.5em;
      padding-bottom: 10px;
    }
    .set{
      font-size: 14px;
      margin-top: 10px;
      input{
        padding: 3px 5px;
        margin: 0 8px;
        width: 50px;
        text-align: center;
      }
      button{
        padding: 5px 20px;
        border:1px solid #CCCCCC;
        border-radius: 3px;
        background: #FFFFFF;
        margin-left:10px;
        &:hover{
          cursor: pointer;
        }
      }
    }
  .controll{
    margin-top: 10px;
    button{
      @include  controllerButton;
      &:hover{
        cursor: pointer;
      }
      &.active{
      @include  controllerButtonActive;
      }
    }
  }
  .infos{
    margin-top: 10px;
    ul{
      line-height: 1.5;
      font-size: 14px;
    }
  }

  .lookDetails{
    margin-top: 20px;
    a{
      @include  aLink;
    }
  }


}


.scrapy-user-info{
  @include  wrapper;
  &.showItem{
    right:-240px;
  }
  button,a,p,li,div{
    font-family: inherit;
  }
  .hide{
    margin-top: 15px;
    button{
      background: #5599ff;
      padding: 5px 10px;
      border:none;
      border-radius: 3px;
      color: #FFFFFF;
      &:hover{
        cursor: pointer;
      }
    }
  }
  h3{
    margin-top: 15px;
    font-size: 1.5em;
    padding-bottom: 10px;
  }

  .user-info-list{
    margin-top: 10px;
    line-height: 1.5;
    font-size: 14px;
  }
  .controll{
    margin-top: 10px;
    button{
      @include  controllerButton;
      &:hover{
        cursor: pointer;
        background: #5599ff;
      }
      &.active{
        @include  controllerButtonActive;
      }
    }


  }

  .goDetails{
    margin-top: 20px;
    a{
      @include  aLink;
    }
  }

}


.weibo-piece{

.weibo-info{
  margin: 10px 0;
  li {
    text-align: left;
    text-indent:2em;
    line-height: 1.5;
  }
}



}







